body{
    background: #EEF9BF;
    display: flex;
    flex-direction: column;
    align-items: center;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.titulo{

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;

    color: #75B79E;

    margin-bottom: 47px;
    margin-top: 40px;
}

/* relógio */

.relogio {
  background-color: greenyellow;
  padding: 10px;
  border-radius: 5px;
  margin: 40px auto;
  text-align: center;
  position: absolute;
  right: 50px;
  top: 0px;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contador {
  font-family: "Roboto";
  color: green;
  font-size: 20px;
  font-weight: 700;
}

.unidade {
  font-family: "Roboto";
  color: green;
  font-size: 20px;
  font-style: bold;
  font-weight: 700;
}


.container{

    width: 872px;
    height: 326px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    perspective: 1000px;
}
.imagens{
    width: 117px;
    height: 146px;
    background: #A7E9AF;
    border: 1px solid #99CEA8;
    box-sizing: border-box;
    border-radius: 5px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform .5s;
    transform: scale(1);
}
.imagens:hover{
    cursor: pointer;
    transform: scale(1.07);
    transition: transform .2s;
}
.imagens.virar {
  transform: rotateY(180deg);
}
.frente, .verso {
    width: 100%;
    height: 100%;
    padding-left: 10px;
    padding-top: 24px;
    padding-bottom: 22px;
    padding-right: 7px;
    position: absolute;
    backface-visibility: hidden;

}
.imagens.virar {
  transform: rotateY(180deg);
}
.verso {
  transform: rotateY(180deg);
}
.escondido{
    display: none;
}

@media (max-width: 414px){
    
    .imagens{
        margin-bottom: 34px;
    }
    .container{
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
    }
    .titulo{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: -0.004em;

        color: #75B79E;
    }
    .relogio {
        margin: 130px auto;
        right: 10px;
        position: fixed;
    }
}